html, body, #map {
	width: 100%; 
	height: 100%; 
	margin: 0;	
	padding: 0; 
	font-family: "Arial"; 
	font-size: 11pt;
}

.view {
	position: absolute; 
	z-index: 2; 
	padding:0px; 
	top: 65px; 
	left: 10px
	}
	
.href {
	position: absolute; 
	z-index: 2; 
	padding:0px; 
	height:18px; 
	width:21px; 
	top: 17px; 
	right: 120px
}

.stat {
	position: absolute; 
	z-index: 2; 
	padding:0px; 
	top: 215px; 
	left: 10px; 
	display: none
}

* {
	margin:0; 
	padding:0;
}

#cloud-data {
	width: 1000px;  
    left: 50%;
    margin-left: -500px;
	position:fixed;	
	bottom:5px; 
	z-index: 3;
}

#data {
	width:600px; 
	margin:0 auto;
}

ul {
	list-style:none; 
	text-align:center;
}

li {
	display:inline;
}

#titles

.cheap {
	margin-left: 0px; 
	margin-right: 206px;
}
	
.expensive {
	margin-left: 206px; 
	margin-right: 0px;
}

#linear > li {
	float:left;
	margin:15px;
	margin-top:2px;
}

.left {
	margin-left: 30px; 
	margin-right: 10px;
}
	
.center {
	margin-left: 10px; 
	margin-right: 10px;
}        

.right {
	margin-left: 10px; 
	margin-right: 30px;
}

#inner {
	display:-moz-inline-stack; /* for FF2*/
	display:inline-block; /* normal browsers */
	zoom:1; /* for IE (hasLayout true) */
	margin: 2px 0 0 0px;
	*display:inline; /* for IE */
}

.round {
	width:20px; 
	height:20px; 
	-webkit-border-radius:20px; 
	-moz-border-radius:20px; 
	border-radius:20px;
}

.inner-round {
	width:16px; 
	height:16px; 
	-webkit-border-radius:16px; 
	-moz-border-radius:16px; 
	border-radius:16px;
}

.black {
	background:#000;
}
	
.red {
	background:#CC0000;
}

.white {
	background:#fff;
}

.gradient {
	width:460px; 
	height:20px; 
	background:#FFFFFF; 
	background:linear-gradient(to right, #0011C7 0%, #57FCFF 25%, #00E61B 50% , #E6D300 75% , #E6000C 100%);
}

#price {
	word-spacing: 150px;
}

#not_indexed {
	top: 30%; /* Отступ в процентах от верхнего края окна */
	left: 50%; /* Отступ в процентах от левого края окна */
	width: 450px; /* Ширина блока */
	height: 140px; /* Высота блока */
	position: absolute; /* Абсолютное позиционирование блока */
	margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
	margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
	z-index: 3;
	font-size: 22pt; 
	text-align: center;
	color: red;
	background: #ffffff;	
	visibility: hidden;	
	border-radius: 10px;
}

#ya_metrika {
	position:absolute; 
	left:-9999px;" 	
	z-index: 3;
}